* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.row::before, .row::after {
  content: '';
  display: table;
  clear: both;
}

header {
  background-image: url(../1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

header div.wrap {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
}

header div.wrap nav {
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  height: 80px;
}

header div.wrap nav img {
  float: left;
  padding-left: 2%;
}

header div.wrap nav ul {
  max-width: 1280px;
  margin: 0 auto;
  float: right;
  padding-right: 2%;
  list-style: none;
  font-size: 0;
}

header div.wrap nav ul li {
  display: inline-block;
}

header div.wrap nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #1C2F7B;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: .3s;
}

header div.wrap nav ul li a:hover {
  color: #3A61FF;
}

header div.wrap section.welcome {
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 80px);
}

header div.wrap section.welcome h1 {
  padding-top: 6%;
  font-size: 7rem;
  color: #1C2F7B;
}

header div.wrap section.welcome h2 {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 3rem;
  color: #2B324F;
}

header div.wrap section.welcome p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #3A61FF;
  animation: text 20s linear infinite;
  opacity: 0;
}

header div.wrap section.welcome p:nth-of-type(2) {
  animation-delay: 4s;
}

header div.wrap section.welcome p:nth-of-type(3) {
  animation-delay: 8s;
}

header div.wrap section.welcome p:nth-of-type(4) {
  animation-delay: 12s;
}

header div.wrap section.welcome p:nth-of-type(5) {
  animation-delay: 16s;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

header div.wrap section.welcome .icon i {
  padding: 20px 10px;
  font-size: 5rem;
  color: #1C2F7B;
}

header div.wrap section.welcome button.arrow-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border-style: none;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
}

header div.wrap section.welcome button.arrow-down i {
  animation: arrow 1.7s linear infinite both;
  text-shadow: 0 -15px rgba(255, 255, 255, 0.5), 0 -30px rgba(255, 255, 255, 0.5);
}

header div.wrap section.welcome button.arrow-down:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

header div.wrap section.welcome button.arrow-down:hover i {
  animation: arrow 1s linear infinite both;
}

@keyframes arrow {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(120%);
  }
}

/*# sourceMappingURL=style.css.map */