* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}
$main-color: #1C2F7B;
$color-darker: #2B324F;
$color-lighter: #3A61FF;
$lightblue-color: #EAEEFC;
$lightgrey-color: #F2F2F2;
@mixin bgImg() {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
@mixin positionCenter() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin styleHeadline() {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;	
	padding: 60px 0 60px;	
	font-size: 4.8rem;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to right, $color-darker, $color-lighter);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;	
	letter-spacing: 3px;
}
.row::before, .row::after {
	content: '';
	display: table;
	clear: both;	
}
header {
	background-image: url(../images/bg1.jpg);
	@include bgImg()
	height: 100vh;
	text-align: center;
	div.wrap {
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.3);
		nav {
			position: relative;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.6);
			overflow: hidden;	
			height: 80px;
			transition: .5s;
			z-index: 1;
			img {
				float: left;
				padding-left: 2%;
			}
			ul {			
				float: right;
				padding-right: 2%;
				list-style: none;
				font-size: 0;			
				li {	
					position: relative;			
					display: inline-block;
					overflow: hidden;
					a {					
						display: block;
						padding: 30px 20px 10px;
						color: $main-color;
						font-size: 1.6rem;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						transition: .3s;
						span {
							position: absolute;
							width: 96%;
							height: 2px;
							background-color: $color-lighter;
							bottom: 0;
							left: -100%;
							transition: .4s;
						}
						&:hover {
							color: $color-lighter;
						}
						&:hover span {							
							left: 2%;
						}
					}
				}
			}
		}
		section.welcome {
			position: relative;				
			top: 0;
			left: 0;
			height: calc(100vh - 80px); 
			h1 {
				@include positionCenter()
				top: 15%;				
				font-size: 7rem;
				letter-spacing: 2px;
				color: $main-color;
			}
			h2 {
				@include positionCenter()
				top: 30%;
				text-transform: uppercase;
				font-size: 3rem;
				color: $color-darker;
			}
			p {
				@include positionCenter()
				top: 45%;
				font-size: 2rem;
				font-family: 'Handlee', cursive;
				color: $color-lighter;
				animation: text 16s linear infinite;
				opacity: 0;
				&:nth-of-type(2) {
					animation-delay: 4s;
				}
				&:nth-of-type(3) {
					animation-delay: 8s;
				}
				&:nth-of-type(4) {
					animation-delay: 12s;
				}
				&:nth-of-type(5) {
					animation-delay: 16s;
				}
			}
			@keyframes text {
				0% {
					opacity: 0;
				}
				2% {
					opacity: 0;
				}
				6% {
					opacity: 1;
				}
				19% {
					opacity: 1;
				}
				23% {
					opacity: 0;
				}
				25% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}
			.icon {
				@include positionCenter()
				top: 50%;
				i {					
					padding: 20px 10px;
					font-size: 5rem;
					color: $main-color;
					transition: .5s;
					&:hover {
						background: -webkit-linear-gradient($main-color, $color-lighter);
					  -webkit-background-clip: text;
					  -webkit-text-fill-color: transparent;
					}
				}				
			}
			button.arrow-down {
				@include positionCenter()
				bottom: 4%;
				width: 40px;
				height: 40px;
				/*line-height: 40px;	*/
				/*border-radius: 50%;*/
				border-style: none;
				font-size: 3rem;
				color: rgba(255, 255, 255, 0.5);
				background-color: transparent;
				/*background-color: rgba(0, 0, 0, 0.3);*/
				cursor: pointer;
				overflow: hidden;
				transition: .5s;
				i {
					animation: arrow 2s linear infinite both;
					text-shadow: 0 -12px rgba(255, 255, 255, 0.5), 0 -24px rgba(255, 255, 255, 0.5);		
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.6);
					i {
						animation: arrow 1s linear infinite both;
					}
				}
			}
			@keyframes arrow {
				0% {
			    transform: translateY(-100%);
				}
				100% {
			    transform: translateY(150%);
				}
			}
		}
	}	
}
@media(max-width: 1024px) {
	header {
		div.wrap {
			section.welcome {
				h1 {
					font-size: 5rem;
					letter-spacing: 1px;
				}
				h2 {
					font-size: 2.4rem;
				}
			}
			nav {
				top: -100vh;				
				}				
				.burger {
					position: fixed;
					display: block;
					top: 20px;
					right: 20px;
					width: 50px;
					height: 40px;
					transition: .3s;					
					z-index: 1; 					
					span {
						position: absolute;
		 				width: 100%;
		 				height: 7px;
		 				background-color: $main-color;
		 				left: 0;
		 				border-radius: 6px;
		 				transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .2s;
		 				&:nth-child(1){
		 					top: 0;		 					
		 				}
		 				&:nth-child(2){
		 					top: 50%;
	 						transform: translateY(-50%);		 					
		 				}
		 				&:nth-child(3){
		 					bottom: 0;		 					
		 				}
					}
				}
				.burger.active {
					transform: rotate(-90deg);
					span:nth-child(1) {
	 					top: 50%;
		 				transform: translateY(-50%) rotate(45deg);
					}
					span:nth-child(2) {
	 					opacity: 0;
					}
					span:nth-child(3) {
	 					top: 50%;
		 				transform: translateY(-50%) rotate(-45deg);
					}
				}				
				nav.active {
					top: 0;
				}				
			}				
		}
	header div.wrap nav ul {
		padding-right: 6%;
		li {
			a {
				padding: 30px 10px;				
			}
		}
	}
}
@media(max-width: 825px) {
	header div.wrap {
		nav {
			height: 145px;
			ul {
				padding: 5px 70px 5px 0; 
			}
			ul li {
  			display: block;
  			a {
  				padding: 5px;
  				font-size: 1.4rem;
  				text-align: right;
  			}
  		}
		}
		section.welcome {
			height: calc(100vh - 145px); 
			h1 {
				top: -5%;
				font-size: 3.5rem;
				letter-spacing: 1px;
			}
			h2 {
				top: 15%;
				font-size: 1.8rem;
			}
			p {
				top: 35%;
				font-size: 1.6rem;
			}
			.icon {
				top: 45%;
				i {
					font-size: 3.2rem;
				}				
			}
			button.arrow-down {
				width: 30px;
				height: 30px;
				line-height: 30px;	
				font-size: 2rem;
				i {
					text-shadow: 0 -8px rgba(255, 255, 255, 0.5), 0 -16px rgba(255, 255, 255, 0.5);		
				}
			}
		}
		.burger {
			width: 32px;
			height: 24px;
			transition: .3s;					
			z-index: 2; 					
			span {
	 			height: 5px;
			}
		}							
	}	
}
@media(max-width: 640px) {
	header div.wrap {
		nav {
			height: 115px;
  		ul li a {
  			padding: 2px;
  			font-size: 1.4rem;
  			text-align: center;
  		}
  	}
  	section.welcome {
			height: calc(100vh - 115px); 				
			h1 {
				top: -10%;
				font-size: 2.8rem;
			}
			h2 {
				font-size: 1.6rem;
			}
			p {
				font-size: 1.4rem;
			}
			button.arrow-down {
				width: 25px;
				height: 25px;
				line-height: 25px;	
				font-size: 1.6rem;
				i {
					text-shadow: 0 -6px rgba(255, 255, 255, 0.5), 0 -12px rgba(255, 255, 255, 0.5);		
				}
			}
  	}  	
	}
}
@media(max-width: 360px) and (orientation: portrait) {
	header div.wrap {
		nav {
			height: 190px;
			img, ul {
				float: none;
				text-align: center;
				padding: 0;
			}
  	}
  	section.welcome {
			height: calc(100vh - 190px); 				
  	}  	
	}
}
/*section about*/
section.about {	
	background-color: $lightgrey-color;
	h1 {
		@include styleHeadline()
  }
  div.description {
  	max-width: 1280px;
		margin: 0 auto;
  	display: flex;
  	div.text {
  		flex-grow: 1;
  		background-color: $lightblue-color;
  		margin: 0 80px 80px;
  		padding: 15px 0;
  		border: 1px solid $color-darker;
  		box-shadow: 10px 10px 20px #333;
  		p {	  		
	  		font-size: 1.6rem;
	  		text-align: justify;
	  		line-height: 150%;
	  		padding: 15px 30px;
	  		color: $color-darker; 		
	  	}
  	}  	
		div.image {
			flex-basis: 40%;
			img {
				width: 350px;
				height: 350px;				
				margin: 0 80px;
				border-radius: 50%;
				border: 4px solid $main-color;
				object-fit: cover;
			}
		}
  }
}
@media(max-width: 1024px) {
	section.about {
		div.description {  
			flex-direction: column;
			div.text {
				order: 2;
			}
			div.image {
				margin: 0 0 20px;
				align-self: center;
			}
  	}
  }
}
@media(max-width: 640px) {
	section.about {
		h1 {
			font-size: 3rem;
		}
		div.description {
			div.text {
				margin: 40px;
				p {
					font-size: 1.2rem;
				}
			}
			div.image img {
				width: 250px;
				height:  250px;
				margin: 20px;
			}
		}
	}
}
/*section skills*/
section.skills {
	background-image: url(../images/bg2.png);
	background-attachment: fixed;
	@include bgImg()
	height: 75vh;
	h1 {
		@include styleHeadline()
  }
}
@media(max-width: 825px) {
	section.skills {
		h1 {
			font-size: 3rem;
		}
	}
}
/*section portfolio*/
section.portfolio {
	background-color: $lightgrey-color;	
	h1 {
		@include styleHeadline()
  }
  div.projects {
  	max-width: 1280px;
		margin: 0 auto;		
		padding-bottom: 50px;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	div {
	  	a img {
	  		opacity: 0.7;
	  		margin: 40px 40px 0; 
	  	}
	  	div.caption {
	  		display: block;
	  		width: 300px;
	  		margin: -3px 40px 80px;
	  		background-color: #4D5A91;
	  		color: $lightblue-color;
	  		text-align: center;
	  		h2 {
	  			text-transform: uppercase;
	  			padding: 10px 0;
	  			font-size: 1.6rem;
	  		}
	  		p {
	  			padding: 0 10px;
	  			font-size: 1.2rem;
	  		}
	  		a {
					display: inline-block;
					margin: 15px;
					padding: 10px 20px;
					font-size: 1.4rem;
					border-style: none;
					background-color: $main-color;
					border-radius: 6px;
					color: $lightblue-color;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 2px;
					transition: .3s;
					cursor: pointer;
					&:hover {
						background-image: linear-gradient($main-color, #21378F);
					}
				}
	  	}
		}
  }
}
@media(max-width: 825px) {
	section.portfolio {
		h1 {
			font-size: 3rem;
		}
	}
}
@media(max-width: 360px) {
	section.portfolio {
		div.projects div {
			a img {
		  	margin: 20px 20px 0; 
		  }
		  div.caption {
	  		margin: -3px 20px 60px;
	  	}
		}
	}
}
/*section contact*/
section.contact {
	height: 100vh;
	background-image: url(../images/bg4.jpeg);
	/*background-image: url(../images/bg2.png);*/
	background-attachment: fixed;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	@include bgImg()
	div.wrap {
		height: 100vh;
		/*background-color: rgba(0, 0, 0, 0.5);*/
		background-color: rgba(255, 255, 255, 0.5);
		h1 {
			@include styleHeadline()
		}
		p {
			font-size: 2.2rem;
			color: $color-darker;
			text-align: center;
		}
		div p.animation {
			@include positionCenter()
			top: 40%;
			font-size: 2.6rem;
			text-transform: uppercase;
			font-weight: bold;
			color: $color-lighter;
			opacity: 0;
			letter-spacing: 2px;
			animation: changeText 6s linear infinite;
			&:nth-of-type(2) {
				animation-delay: 3s;
				color: $main-color;
			}
		}
		@keyframes changeText {
			0% {
				opacity: 0;
			}
			5% {
				opacity: 0;
			}
			10% {
				opacity: 1;
			}
			40% {
				opacity: 1;
			}
			45% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 0;
			}
		}
		div.information {
			position: absolute;
			left: 10%;
			right: 10%;
			top: 60%;
			display: flex;
			align-items: center;
			justify-content: center;
			div.info {
				flex-basis: 25%;
				align-items: center;
				display: flex;
				flex-direction: column;
				.icon {
					font-size: 5rem;
					color: $color-darker;
				}
				p.txt {
					font-size: 2.6rem;
				}
			}
		}
		div.icon-btn {
			@include positionCenter()
			bottom: 5%;
			i {					
				padding: 20px 10px;
				font-size: 5rem;
				color: $main-color;
				transition: .5s;
				&:hover {
					background: -webkit-linear-gradient($main-color, $color-lighter);
				  -webkit-background-clip: text;
				  -webkit-text-fill-color: transparent;
				}
			}	
		}
	}
}
@media(max-width: 1024px) {
	section.contact {
		div.wrap {
			div.information {
				left: 5%;
				right: 5%;
				div.info {
					flex-basis: 30%;					
				}
			}	
		}
	}
}
@media(max-width: 825px) {
	section.contact {
		div.wrap {
			h1 {
				font-size: 3rem;
			}
			div p.animation {
				top: 25%;
				font-size: 2.2rem;
			}
			div.information {
				top: 40%;
				left: 20%;
				right: 20%;
				flex-direction: column;				
				div.info {
					flex-basis: 30%;
					align-self: stretch;
					flex-direction: row;
					justify-content: flex-start;
					padding: 5px;
					.icon {
						flex-basis: 30%;						
						font-size: 3rem;
						text-align: center;
					}
					p.txt {
						flex-grow: 1;
						font-size: 2.6rem;
						text-align: left;
					}
				}
			}
			div.icon-btn {
				i {					
					padding: 10px;
					font-size: 2.8rem;
				}	
			}
		}				
	}
}
@media(max-width: 825px) and (orientation: landscape){
	section.contact {
		div.wrap {
			h1 {
				padding: 40px 0 20px;
			}
			p {
				font-size: 1.8rem;
			}
			div p.animation {
				top: 35%;
				font-size: 2rem;
			}				
			div.information {
				top: 45%;
				left: 30%;
				right: 30%;			
				div.info {
					.icon {
						font-size: 2rem;
					}
					p.txt {
						font-size: 1.6rem;
					}
				}
			}
		}				
	}
}
@media(max-width: 640px) and (orientation: landscape){
	section.contact {
		div.wrap {
			p {
				font-size: 1.6rem;
			}
			div p.animation {
				top: 38%;
				font-size: 1.6rem;
			}				
			div.information {
				left: 25%;			
				div.info {
					.icon {
						font-size: 1.6rem;
					}
					p.txt {
						font-size: 1.4rem;
					}
				}
			}
		}				
	}
}
@media(max-width: 425px) and (orientation: portrait){
	section.contact {
		div.wrap {
			h1 {
				padding: 40px 0;
			}
			p {
				font-size: 1.6rem;
				padding: 0 20px;
			}
			div p.animation {
				top: 40%;
				font-size: 1.6rem;
			}				
			div.information {
				top: 55%;
				left: 10%;
				right: 10%;			
				div.info {
					.icon {
						font-size: 1.6rem;
					}
					p.txt {
						padding: 0;
						font-size: 1.4rem;
					}
				}
			}
		}				
	}
}
/*footer*/
footer {
	background-color: $lightgrey-color;
	text-align: center;
	p {
		padding: 15px;
		font-size: 1.6rem;
		color: $color-darker;
	}
}
@media(max-width: 825px) {
	footer p {
		font-size: 1.2rem;
	}
}
