* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}
$main-color: #1C2F7B;
$color-darker: #2B324F;
$color-lighter: #3A61FF;
@mixin positionCenter() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.row::before, .row::after {
	content: '';
	display: table;
	clear: both;	
}
header {
	background-image: url(../1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	text-align: center;
	div.wrap {
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.3);
		nav {
			background-color: rgba(255, 255, 255, 0.6);
			overflow: hidden;	
			height: 80px;
			img {
				float: left;
				padding-left: 2%;
			}
			ul {			
				max-width: 1280px;
				margin: 0 auto;
				float: right;
				padding-right: 2%;
				list-style: none;
				font-size: 0;			
				li {				
					display: inline-block;
					a {
						display: block;
						padding: 30px 20px;
						color: $main-color;
						font-size: 2rem;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						transition: .3s;
						&:hover {
							color: $color-lighter;
						}
					}
				}
			}
		}
		section.welcome {
			position: relative;				
			top: 0;
			left: 0;
			height: calc(100vh - 80px); 
			h1 {
				@include positionCenter()
				top: 15%;
				
				font-size: 7rem;
				color: $main-color;
			}
			h2 {
				@include positionCenter()
				top: 30%;
				padding: 20px 0;
				text-transform: uppercase;
				font-size: 3rem;
				color: $color-darker;
			}
			p {
				@include positionCenter()
				top: 45%;
				font-size: 2rem;
				font-family: 'Handlee', cursive;
				color: $color-lighter;
				animation: text 16s linear infinite;
				opacity: 0;
				&:nth-of-type(2) {
					animation-delay: 4s;
				}
				&:nth-of-type(3) {
					animation-delay: 8s;
				}
				&:nth-of-type(4) {
					animation-delay: 12s;
				}
				&:nth-of-type(5) {
					animation-delay: 16s;
				}
			}
			@keyframes text {
				0% {
					opacity: 0;
				}
				2% {
					opacity: 0;
				}
				6% {
					opacity: 1;
				}
				19% {
					opacity: 1;
				}
				23% {
					opacity: 0;
				}
				25% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}
			.icon {
				@include positionCenter()
				top: 50%;
				i {					
					padding: 20px 10px;
					font-size: 5rem;
					color: $main-color;
					&:hover {
						background: -webkit-linear-gradient($main-color, $color-lighter);
					  -webkit-background-clip: text;
					  -webkit-text-fill-color: transparent;
					}
				}				
			}
			button.arrow-down {
				@include positionCenter()
				bottom: 4%;
				width: 40px;
				height: 40px;
				line-height: 40px;	
				border-radius: 50%;
				border-style: none;
				font-size: 3rem;
				color: rgba(255, 255, 255, 0.5);
				background-color: rgba(0, 0, 0, 0.3);
				cursor: pointer;
				overflow: hidden;
				transition: .3s;
				i {
					animation: arrow 2s linear infinite both;
					text-shadow: 0 -12px rgba(255, 255, 255, 0.5), 0 -24px rgba(255, 255, 255, 0.5);		
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.6);
					i {
						animation: arrow 1s linear infinite both;
					}
				}
			}
			@keyframes arrow {
				0% {
			    transform: translateY(-100%);
				}
				100% {
			    transform: translateY(150%);
				}
			}
		}
	}	
}